<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Soporte técnico</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="send()">
                <ion-icon name="md-send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
	<p>Muchas gracias por colaborar en la mejora de la aplicación.</p>
    <p>Si encuentra algún problema técnico, puede enviarnos información detallada a través de este formulario.</p>
    <p>Cuantos más detalles indique en la descripción, más nos ayudará a tramitar la incidencia.</p>
    <ion-list>
        <form [formGroup]="supportForm">
            <ion-item [ngClass]="{'input-error':!supportForm.controls.email.valid && (supportForm.controls.email.dirty || submitted)}">
                <ion-label color="primary" stacked>Correo electrónico</ion-label>
                <ion-input formControlName="email" [(ngModel)]="support.email" [disabled]="isReaonly()" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="supportForm.controls.email.hasError('required') && (supportForm.controls.email.dirty || submitted)">
                <p>Debe indicar un correo electrónico!</p>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!supportForm.controls.subject.valid && (supportForm.controls.subject.dirty || submitted)}">
                <ion-label color="primary" stacked>Título</ion-label>
                <ion-input formControlName="subject" [(ngModel)]="support.subject" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="supportForm.controls.subject.hasError('required') && (supportForm.controls.subject.dirty || submitted)">
                <p>Debe indicar un título!</p>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!supportForm.controls.description.valid && (supportForm.controls.description.dirty || submitted)}">
                <ion-label color="primary" stacked>Descripción</ion-label>
                <ion-textarea placeholder="Introduzca la descripción de su incidencia" formControlName="description" [(ngModel)]="support.description" autocomplete="on" autocorrect=“on”></ion-textarea>
            </ion-item>
            <ion-item *ngIf="supportForm.controls.description.hasError('required') && (supportForm.controls.description.dirty || submitted)">
                <p>Debe indicar una descripción!</p>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
