page-login {
    #login {
        background: color($colors, fwdss);
        .logo-container {
            margin: 50px auto 20px;
            text-align: center;
        }
        .logo{
            height: 100px;
        }
        .list,
        .list .item {
            background-color: transparent;
            color: #fff;
            padding-left: 0;
        }
        .list .item .text-input-wp {
            border-color: #fff;
            color: color($colors, fwdss);
        }
    }
}
