<ion-content padding id="login">
    <div class="logo-container">
        <img src="assets/imgs/logo-full.png" class="logo"/>
    </div>
    <ion-list>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <ion-item [ngClass]="{'input-error':!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitted)}">
                <ion-input formControlName="username" type="text" placeholder="Usuario" value="" [(ngModel)]="userData.username" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="loginForm.controls.username.hasError('required') && (loginForm.controls.username.dirty || submitted)">
                <p>El nombre de usuario es obligatorio!</p>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitted)}">
                <ion-input formControlName="password" type="password" placeholder="Contraseña" [(ngModel)]="userData.password"></ion-input>
            </ion-item>
            <ion-item *ngIf="loginForm.controls.password.hasError('required') && (loginForm.controls.password.dirty || submitted)">
                <p>La contraseña es obligatoria!</p>
            </ion-item>
            <button ion-button block color="primary" type="submit">Login</button>
        </form>
        <button ion-button outline color="light" small icon-start (tap)="sendInfo(false)">
            <ion-icon name="information-circle"></ion-icon>
            Soporte
        </button>
    </ion-list>
</ion-content>
