<ion-header>
    <ion-navbar>
        <ion-title class="navbar-title">Galería</ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let img of images" col-4>
                <p class="sender-name">{{ img.sender_name }}</p>
                <p>{{ img.created | date: 'EEE d MMM y' }}</p>
                <div class="thumbnail">
                    <ion-img [src]="img.image" #imageToView (click)="presentImage(imageToView)"></ion-img>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100%">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando más imágenes ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
