page-gallery {

    button.go-back {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        height: inherit;
    }

    button.go-back.activated {
        background-color: transparent;
    }
    
    ion-col.col {
        background-color: white;
        padding: 0.5px;
    }

    ion-col.col p {
        color: #666;
        font-size: 1.2rem !important;
        font-weight: bold;
        margin: 5px;
    }

    .thumbnail {
        position: relative;
        width: 100%;
    }
    .thumbnail:after {
        content: "";
        display: block;
        padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
    }

    .thumbnail ion-img {
        position: absolute; /* Take your picture out of the flow */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; /* Make the picture taking the size of it's parent */
        width: 100%; /* This if for the object-fit */
        height: 100%; /* This if for the object-fit */
        object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
        object-position: center;
    }

    p.sender-name {
        text-transform: capitalize;
    }
}
