page-notification-modal {
    .card-content {
        line-height: 2;
    }

    ion-card-header {
        font-size: 1.6rem;
        font-weight: 500;
        color: #333;
        padding: 16px;
    }

    ion-card-header p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        color: #666;
    }
}
