<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Notificación</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="confirmDelete()" *ngIf="notification.id">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            {{notification.title}}
            <p float-right>{{notification.send | date: 'EEEE d MMMM yyyy H:mm' }}</p>
        </ion-card-header>
        <ion-card-content>
            {{notification.body}}
        </ion-card-content>
    </ion-card>
</ion-content>
