page-report {
    ion-note {
        font-size: 12px;
    }
    .report-list button.item-block {
        background-color: #f4f4f4;
        border-bottom: 1px solid #dedede !important;
    }
    .report-list button.item-block .item-inner {
        border-bottom: none !important;
    }
    .report-list button.item-block.unread {
        background-color: #fff;
    }
    .report-list button.item-block.unread ion-label h2 {
        font-weight: bold;
    }
    #customerSelectSearchable {
        display: none !important;
    }
}
