<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="navbar-title">Reportes</ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item id="customerSelectSearchable">
        <ion-label>Seleccione el usuario</ion-label>
        <select-searchable #customerComponent
            item-content
            [(ngModel)]="customer"
            [items]="customers"
            itemValueField="id"
            itemTextField="username"
            [canSearch]="true"
            closeButtonText="Cerrar"
            searchFailText="No se han encontrado usuarios sin reportes, o que coincida con la búsqueda"
            searchPlaceholder="Busca por nombre de usuario"
            (onChange)="createReport($event)">
        </select-searchable>
    </ion-item>
    <ion-fab right bottom #fab4>
        <button ion-fab color="fwdss" (tap)="newReport()">
            <ion-icon name="ios-text"></ion-icon>
        </button>
    </ion-fab>
    <ion-list class="report-list">
        <button ion-item detail-none *ngFor="let report of reports" (tap)="showReport(report)" ngClass="{{(report.unread > 0)? 'unread' : ''}}">
            <button ion-button icon-start clear item-start>
                <ion-icon name="ios-text"></ion-icon>
                <div>{{report.unreadMessages}}</div>
            </button>
            <h2>{{report.username}}</h2>
            <ion-note *ngIf="report.last">Ult. Mensaje: {{ report.last | date: 'EEE d MMM y H:mm:ss' }}</ion-note>
            <ion-badge *ngIf="report.unread > 0" item-end>{{ report.unread }}</ion-badge>
        </button>
    </ion-list>
</ion-content>
