<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="navbar-title">Aviso Legal</ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h2>DATOS GENERALES</h2>
    <p>
        De acuerdo con el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico ponemos a su disposición los siguientes datos:
        FORWARD SPORT SOLUTIONS, SLU. con dirección en Avda. José Ramírez Bethencourt 22, 35004  Las Palmas de Gran Canaria con CIF: B-72141092. Inscrita en el Registro Mercantil de (ciudad en la que se encuentre dicho registro), Vol. (número correspondiente), Folio (número correspondiente), Hoja (número correspondiente), Inscripción (número correspondiente).
        En la web www.fwdss.com hay una serie de contenidos de carácter informativo sobre servicios y actividades deportivas y de salud.
        Su principal objetivo es facilitar a los clientes y al público en general, la información relativa a la empresa, a los productos y servicios que se ofrecen.
    </p>
    <h2>POLÍTICA DE PRIVACIDAD</h2>
    <p>
        En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal (LOPD) se informa al usuario que todos los datos que nos proporcione serán incorporados a un fichero, creado y mantenido bajo la responsabilidad de FORWARD SPORT SOLUTIONS, SLU.
        Siempre se va a respetar la confidencialidad de sus datos personales que sólo serán utilizados con la finalidad de gestionar los servicios ofrecidos, atender a las solicitudes que nos plantee, realizar tareas administrativas, así como remitir información técnica, comercial o publicitaria por vía ordinaria o electrónica.
        Para ejercer sus derechos de oposición, rectificación o cancelación deberá dirigirse a la sede de la empresa en Avda. José Ramírez Bethencourt 22, 35004  Las Palmas de Gran Canaria, escribirnos al siguiente correo hola@fwdss.com o llámanos al 928247397.
    </p>
    <h2>CONDICIONES DE USO</h2>
    <p>
        Las condiciones de acceso y uso de la aplicación móvil se rigen por la legalidad vigente y por el principio de buena fe comprometiéndose el usuario a realizar un buen uso de la aplicación. No se permiten conductas que vayan contra la ley, los derechos o intereses de terceros.
        Ser usuario de la aplicación de FORWRD SPORT SOLUTIONS, SLU implica que reconoce haber leído y aceptado las presentes condiciones y lo que las extienda la normativa legal aplicable en esta materia. Si por el motivo que fuere no está de acuerdo con estas condiciones no continúe usando esta aplicación.
        Cualquier tipo de notificación y/o reclamación solamente será válida por notificación escrita y/o correo certificado.
    </p>
    <h2>RESPONSABILIDADES</h2>
    <p>
        FORWARD SPORT SOLUTIONS, SLU. no se hace responsable de la información y contenidos almacenados en foros, redes sociales o cualesquier otro medio que permita a terceros publicar contenidos de forma independiente en la página web del prestador.
        Sin embargo, teniendo en cuenta los art. 11 y 16 de la LSSI-CE, FORWARD SPORT SOLUTIONS, SLU. se compromete a la retirada o en su caso bloqueo de aquellos contenidos que pudieran afectar o contravenir la legislación nacional o internacional, derechos de terceros o la moral y el orden público.
        Tampoco la empresa se responsabilizará de los daños y perjuicios que se produzcan por fallos o malas configuraciones del software instalado en el dispositivo móvil del usuario. Se excluye toda responsabilidad por alguna incidencia técnica o fallo que se produzca cuando el usuario se conecte a internet. Igualmente no se garantiza la inexistencia de interrupciones o errores en el acceso a la aplicación.
        Así mismo, FORWARD SPORT SOLUTIONS, SLU. se reserva el derecho a actualizar, modificar o eliminar la información contenida en la aplicación, así como la configuración o presentación del mismo, en cualquier momento sin asumir alguna responsabilidad por ello.
        Le comunicamos que cualquier precio que pueda ver en nuestra aplicación será solamente orientativo. Si el usuario desea saber con exactitud el precio o si el producto en el momento actual cuenta con alguna oferta de la cual se puede beneficiar ha de acudir a alguna de las tiendas físicas con las que cuenta FORWARD SPORT SOLUTIONS, SLU.
    </p>
    <h2>PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
    <p>
        FORWARD SPORT SOLUTIONS, SLU. es titular de todos los derechos sobre el software de la publicación digital así como de los derechos de propiedad industrial e intelectual referidos a los contenidos que se incluyan, a excepción de los derechos sobre productos y servicios de carácter público que no son propiedad de esta empresa.
        Ningún material publicado en esta aplicación podrá ser reproducido, copiado o publicado sin el consentimiento por escrito de FORWARD SPORT SOLUTIONS, SLU. 
        Toda la información que se reciba en la aplicación, como comentarios, sugerencias o ideas, se considerará cedida a FORWARD SPORT SOLUTIONS, SLU. de manera gratuita. No debe enviarse información que NO pueda ser tratada de este modo.
        Todos los productos y servicios de esta aplicación que NO son propiedad de FORWARD SPORT SOLUTIONS, SLU. son marcas registradas de sus respectivos propietarios y son reconocidas como tales por nuestra empresa. Solamente aparecen en la aplicación de FORWARD SPORT SOLUTIONS, SLU. a efectos de promoción y de recopilación de información. Estos propietarios pueden solicitar la modificación o eliminación de la información que les pertenece.
    </p>
    <h2>LEY APLICABLE Y JURISDICCIÓN</h2>
    <p>
        Las presentes condiciones generales se rigen por la legislación española. Para cualquier litigio que pudiera surgir relacionado con la aplicación o la actividad que en ella se desarrolla serán competentes Juzgados de Las Palmas de Gran Canaria, renunciando expresamente el usuario a cualquier otro fuero que pudiera corresponderle.
    </p>
</ion-content>