<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Sesión</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="confirmDelete()" *ngIf="event.id && hasPermission()">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only (click)="save(eventForm.value)" *ngIf=hasPermission()>
                <ion-icon name="checkmark-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngIf=!hasPermission()>
        <ion-item>
            <ion-icon md="md-calendar" ios="md-calendar" android="md-calendar" item-start large></ion-icon>
            <h2>{{event.start_date | date: 'EEEE d MMMM yyyy' }}</h2>
        </ion-item>
        <ion-item>
            <ion-icon md="ios-timer" ios="ios-timer" android="ios-timer" item-left large ></ion-icon>
            <h2>{{event.start_time}}</h2>
        </ion-item>
        <ion-item>
            <span item-left>{{event.duration}} min</span>
        </ion-item>
    </ion-card>
    <ion-list *ngIf=hasPermission()>
        <form [formGroup]="eventForm">
            <ion-item [ngClass]="{'input-error':!eventForm.controls.customer.valid && (eventForm.controls.customer.dirty || submitted)}">
                <ion-label>Usuario</ion-label>
                <ion-select formControlName="customer" [(ngModel)]="event.customer" [disabled]="isReaonly()">
                    <ion-option *ngFor="let user of customers" value="{{user.id}}">{{user.username}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="eventForm.controls.customer.hasError('required') && (eventForm.controls.customer.dirty || submitted)">
                <p>Debe seleccionar un usuario!</p>
            </ion-item>
            <ion-item>
                <ion-label>Día</ion-label>
                <ion-input formControlName="start_date" [(ngModel)]="event.start_date_showed" (focus)="showCalendar()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Horario</ion-label>
                <ion-datetime formControlName="start_time" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="event.start_time" minuteValues="0,30"></ion-datetime>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!eventForm.controls.duration.valid && (eventForm.controls.duration.dirty || submitted)}">
                <ion-label>Duración</ion-label>
                <ion-input formControlName="duration" type="number" [(ngModel)]="event.duration" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="eventForm.controls.duration.hasError('required') && (eventForm.controls.duration.dirty || submitted)">
                <p>Debe seleccionar una duración!</p>
            </ion-item>
            <ion-item>
                <ion-label>Asistencia</ion-label>
                <ion-toggle formControlName="attendance" [(ngModel)]="event.attendance"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-textarea formControlName="observation" [(ngModel)]="event.observation" placeholder="Observaciones" autocomplete="on" autocorrect="on"></ion-textarea>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
