<ion-header>
    <ion-navbar>
        <button *ngIf="!hasPermission()" class="go-back" (click)="goBack()" ion-button icon-only>
            <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
        <ion-title *ngIf="!hasPermission()" class="navbar-title">Reportes</ion-title>
        <ion-title *ngIf="hasPermission()" class="navbar-title">{{toUser.username}}</ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
    <ion-toolbar>
        <ion-buttons end>
            <button *ngIf="hasPermission()" ion-button (click)="gallery()">
                <ion-icon name="md-images"></ion-icon>
            </button>
            <button ion-button (click)="pageOptions()" class="page-options-btn">
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content (ionScroll)="onScroll($event)">
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="5%" position="top">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div class="message-wrap">
        <div *ngFor="let msg of msgList" class="message" [class.left]="msg.sender_id !== userData.id" [class.right]="msg.sender_id == userData.id" (press)="openChatPopover($event, msg.id, msg.erased)">
            <div class="user-img" text-uppercase>
                <span *ngIf="msg.sender_admin == 0">{{ msg.sender_name | slice:0:1 }}</span>
                <img *ngIf="msg.sender_admin == 1" class="user-img" [src]="msg.sender_avatar">
            </div>
            <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
            <div class="msg-detail">
                <div class="msg-info">
                    <p *ngIf="msg.sender_admin == 1">{{ msg.sender_name }}</p>
                    <p *ngIf="msg.status !== 'pending'">{{msg.send | date: 'EEE d MMM y H:mm:ss'}}</p>
                </div>
                <div class="msg-content" [ngClass]="{'erased' : msg.erased}">
                    <span class="triangle"></span>
                    <p class="line-breaker">{{msg.message}}</p>
                    <br *ngIf="msg.image" />
                    <img *ngIf="msg.image" [src]="_DomSanitizationService.bypassSecurityTrustUrl(msg.image)"  imageViewer />
                </div>
            </div>
        </div>
        <div *ngIf="receiving" class="receiving-msg">
            <span>Recibiendo mensaje</span> <ion-spinner name="dots"></ion-spinner>
        </div>
    </div>
</ion-content>
<ion-footer no-border [style.height]="'55px'">
    <div class="input-wrap">
        <button ion-button clear icon-only item-right (click)="sendImg()">
            <ion-icon name="md-camera"></ion-icon>
        </button>
        <ion-textarea #chat_input autocomplete="on" autocorrect="on" placeholder="Mensaje" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()" (focusin)="onFocus()"></ion-textarea>
        <button ion-button clear icon-only item-right (click)="sendMsg()">
            <ion-icon name="ios-send"></ion-icon>
        </button>
    </div>
</ion-footer>
