page-chat {

    $userBackgroundColor: color($colors, 'primary');
    $toUserBackgroundColor: #fff;

    button.go-back {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        height: inherit;
    }

    button.go-back.activated {
        background-color: transparent;
    }

    ion-toolbar.toolbar {
        min-height: 36px;
    }

    .page-options-btn {
        padding: 0 10px;
    }

    ion-content .scroll-content {
        background-color: #f5f5f5;
    }

    ion-footer {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
        background-color: #fff;
        height: 255px;
    }

    ion-infinite-scroll-content {
        min-height: 40px;
    }

    .infinite-loading {
        margin: 0;
    }

    .line-breaker {
        white-space: pre-line;
    }

    .input-wrap {
        padding: 5px;
        display: flex;
        textarea {
            flex: 1;
            border: 0;
            border-bottom: 1px $userBackgroundColor;
            border-style: solid;
        }
    }

    .message-wrap {
        padding: 0 10px;
        .message {
            position: relative;
            padding: 7px 0;
            .user-img {
                position: absolute;
                border-radius: 45px;
                width: 45px;
                height: 45px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
                img {
                    border-radius: 45px;
                }
            }

            .msg-detail {
                width: 100%;
                display: inline-block;
                p {
                    margin: 0;
                }
                .msg-info {
                    p {
                        color: #888;
                        font-size: .8em;
                        text-transform: capitalize;
                    }
                }

                .msg-content {
                    position: relative;
                    margin-top: 5px;
                    border-radius: 5px;
                    padding: 8px;
                    border: 1px solid #ddd;
                    color: #fff;
                    width: auto;
                    max-width: 80%;
                    span.triangle {
                        background-color: #fff;
                        border-radius: 2px;
                        height: 8px;
                        width: 8px;
                        top: 12px;
                        display: block;
                        border-style: solid;
                        border-color: #ddd;
                        border-width: 1px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        position: absolute;
                    }
                }

            }
        }

        .message.left {
            .msg-content {
                background-color: $toUserBackgroundColor;
                float: left;
            }
            .msg-detail {
                padding-left: 60px;
            }
            .user-img {
                background-color: rgb(213, 71, 69);
                color: #fff;
                font-size: 24px;
                left: 0;
                line-height: 45px;
                text-align: center;
            }
            .msg-content {
                color: #343434;
                span.triangle {
                    border-top-width: 0;
                    border-right-width: 0;
                    left: -5px;
                }
            }

        }

        .message.right {
            .msg-detail {
                padding-right: 60px;
                .msg-info {
                    text-align: right;
                }
            }
            .user-img {
                background-color: rgb(213, 71, 69);
                color: #fff;
                font-size: 24px;
                line-height: 45px;
                right: 0;
                text-align: center;
            }
            ion-spinner {
                position: absolute;
                right: 10px;
                top: 50px;
            }
            .msg-content {
                background-color: $userBackgroundColor;
                border-color: $userBackgroundColor;
                float: right;
                p {
                    font-weight: lighter;
                }
                span.triangle {
                    background-color: $userBackgroundColor;
                    border-color: $userBackgroundColor;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    right: -5px;
                }
            }
        }

        .message {
            .msg-content.erased {
                background-color: #efefef;
                border-color: #ccc;
                color: gray;

                span.triangle {
                    background-color: #efefef;
                    border-color: #ccc;
                }
            }
        }
    }

    .receiving-msg {
        text-align: center;
        background-color: #dedede;
        border-radius: 6px;
        width: 60%;
        margin: 5px auto;
        font-size: 1.25rem;
    }

    .receiving-msg span,
    .receiving-msg ion-spinner {
        vertical-align: middle;
    }

}

ion-action-sheet .action-sheet-button.action-sheet-cancel {
    color: #ef473a;
}
