<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="navbar-title">Perfil</ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-item>
            <ion-icon name="md-key" item-start></ion-icon>
            <h2>{{profile.username}}</h2>
        </ion-item>
        <ion-item>
            <ion-icon name="md-contact" item-start></ion-icon>
            <h2>{{profile.name}}</h2> {{profile.surname}}
        </ion-item>
        <ion-item>
            <ion-icon name="md-at" item-start></ion-icon>
            {{profile.email}}
        </ion-item>
        <ion-item>
            <ion-icon name="md-call" item-start></ion-icon>
            {{profile.phone}}
        </ion-item>
        <ion-item>
            <ion-icon name="md-flame" item-start></ion-icon>
            <strong>F. Nac:</strong> {{profile.birthday}}
        </ion-item>
        <ion-item>
            <ion-icon name="md-flame" item-start></ion-icon>
            <strong>F. Inicio:</strong> {{profile.anniversary}}
        </ion-item>
        <ion-item-divider *ngIf="profile.timetable.length">
            Horarios
        </ion-item-divider>
        <ion-item *ngFor="let time of profile.timetable; let i = index" class="timetable-block">
            <ion-grid>
                <ion-row>
                    <ion-col col-9>
                        <button ion-button small [color]="isSelected(time.days, 'L') ? 'primary' : 'light'">L</button>
                        <button ion-button small [color]="isSelected(time.days, 'M') ? 'primary' : 'light'">M</button>
                        <button ion-button small [color]="isSelected(time.days, 'X') ? 'primary' : 'light'">X</button>
                        <button ion-button small [color]="isSelected(time.days, 'J') ? 'primary' : 'light'">J</button>
                        <button ion-button small [color]="isSelected(time.days, 'V') ? 'primary' : 'light'">V</button>
                        <button ion-button small [color]="isSelected(time.days, 'S') ? 'primary' : 'light'">S</button>
                        <button ion-button small [color]="isSelected(time.days, 'D') ? 'primary' : 'light'">D</button>
                    </ion-col>
                    <ion-col col-3 class="timetable-time">
                        <ion-item small>
                            <ion-datetime disabled displayFormat="HH:mm" pickerFormat="HH:mm" min="07:00" max="23:00" [(ngModel)]="time.hour"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-card>
    <button ion-button (tap)="changePassword()">Cambiar contraseña</button>
</ion-content>
