page-notification {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
    .notification-list button.item-block {
        background-color: #f4f4f4;
        padding: 0;
    }
    .notification-list button.item-block > .item-inner {
        padding-left: 16px;
    }
    .notification-list button.item-block.unread {
        background-color: #fff;
    }
    .notification-list button.item-block.unread ion-label {
        font-weight: bold;
    }
    ion-toolbar.toolbar {
        min-height: 36px;
    }
}
