<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="navbar-title">Notificaciones</ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button (click)="pageOptions()">
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list class="notification-list">
        <button ion-item detail-none *ngFor="let notification of notifications" (tap)="showNotification(notification)" ngClass="{{notification.viewed ? '' : 'unread'}}">
            {{notification.title}}
            <ion-note item-end>{{notification.send | date: 'EE, d MMM , yyyy' }}</ion-note>
        </button>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="500%">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando más datos ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
