<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="navbar-title">Usuarios</ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab right bottom #fab4>
        <button ion-fab color="fwdss" (tap)="addCustomer()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-list>
        <button ion-item detail-none *ngFor="let customer of customers" (tap)="customerEdit(customer)">
            <ion-icon name="contact" item-start [ngStyle]="customer.active && {'color': '#006B2E' } || {'color': '#D42124' }"></ion-icon>
            {{customer.username}}
        </button>
    </ion-list>
</ion-content>
