// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #205081,
  secondary:  #006B2E,
  danger:     #DD4B39,
  light:      #f4f4f4,
  dark:       #222,
  fwdss:      #2A3B49,
  holidays:   #FF6D00
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// FWDSS override styles
$toolbar-background : color($colors, fwdss);
.toolbar-md-primary .toolbar-background-md,
.toolbar-ios-primary .toolbar-background-ios {
  background-color: color($colors, fwdss) !important;
}

/* fwdss is class added to ion-content */
.fwdss {
  background-color: color($colors, fwdss) !important;
}
/* Set the background to transparent for ion-item */
.fwdss .item {
  background-color: transparent;
  border:none;
  border-top: 1px solid;
  border-color: #ddd;
  color: white;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede !important;
}
.list-md .item-input:last-child {
    border-bottom: none !important;
    box-shadow: unset !important;
}
.fwdss .list-md .item-block .item-inner {
  border-bottom: none;
}
/* Changes the border for the last item */
.fwdss .item:last-child {
  border-bottom: 1px solid #ddd;
}
.fwdss .item-complex .item-content,
.dark .item-radio .item-content {
  background-color: transparent;
}
.fwdss .list-ios .item-block .item-inner,
.fwdss .list-md .item-block .item-inner {
    border: none !important;
}
/*Just makes the type white */
.fwdss h2,
.fwdss h3,
.fwdss p,
.fwdss a {
  color: white;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid #dedede !important;
    box-shadow: unset !important;
}

// Form error
.item-block.input-error .item-inner {
    border-bottom-color: #D42124 !important;
}

.toolbar-ios ion-title {
  padding-left: 50px !important;
  padding-right: 80px !important;
}

.navbar-title {
  display: inline-block;
}

.navbar-title div {
  display:inline-block;
  padding-top: 6px;
  font-size: calc(7px + 1.75vw);
}

.toolbar-title-ios {
  padding-top: 14px !important;
}

.navbar-logo {
  display: inline-block;
  float: right;
}

.searchbar-ios .searchbar-input {
  padding: 0 28px;
  border-radius: 5px;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  background-color: #fff !important;
}
