<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="fwdss">
        <ion-list class="menu-list">
            <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="isAdminPage(p)">
                {{p.title}}
                <ion-badge *ngIf="badgeCount(p) > 0" item-end>{{ badgeCount(p) }}</ion-badge>
            </button>
            <button menuClose ion-item detail-none (tap)="sendSupport()">
                Soporte
            </button>
            <button menuClose ion-item detail-none (click)="legalNotice()">
                Aviso Legal
            </button>
            <button menuClose ion-item detail-none (click)="logout()">
                Cerrar Sesión
            </button>
        </ion-list>
        <div class="menu-logo">
            <img src="assets/imgs/logo-full.png"/>
        </div>
    </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
