// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-logo {
	bottom: 50px;
	padding: 20px;
	position: absolute;
}

.menu-list .item.item-block.fwdss-red {
	background-color: rgb(213, 71, 69) !important;
}

.menu-list .item.item-block.fwdss-yellow {
	background-color: rgb(239, 236, 142) !important;
	color: color($colors, 'primary') !important;
}

.menu-list .item.item-block.fwdss-green {
	background-color: rgb(111, 165, 169) !important;
}
