<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Usuario</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="confirmDelete()" *ngIf="customer.id">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only (click)="save()">
                <ion-icon name="checkmark-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <form [formGroup]="customerForm">
            <ion-item [ngClass]="{'input-error':!customerForm.controls.username.valid && (customerForm.controls.username.dirty || submitted)}">
                <ion-label color="primary" fixed>Usuario</ion-label>
                <ion-input formControlName="username" [(ngModel)]="customer.username" [disabled]="isReaonly()" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="customerForm.controls.username.hasError('required') && (customerForm.controls.username.dirty || submitted)">
                <p>Debe indicar un nombre de usuario!</p>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!customerForm.controls.name.valid && (customerForm.controls.name.dirty || submitted)}">
                <ion-label color="primary" fixed>Nombre</ion-label>
                <ion-input formControlName="name" [(ngModel)]="customer.name" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="customerForm.controls.name.hasError('required') && (customerForm.controls.name.dirty || submitted)">
                <p>Debe indicar un nombre!</p>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>Apellidos</ion-label>
                <ion-input formControlName="surname" [(ngModel)]="customer.surname" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!customerForm.controls.email.valid && (customerForm.controls.email.dirty || submitted)}">
                <ion-label color="primary" fixed>Email</ion-label>
                <ion-input formControlName="email" type="email" [(ngModel)]="customer.email" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="customerForm.controls.email.hasError('required') && (customerForm.controls.email.dirty || submitted)">
                <p>Debe indicar un correo electrónico!</p>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!customerForm.controls.phone.valid && (customerForm.controls.phone.dirty || submitted)}">
                <ion-label color="primary" fixed>Teléfono</ion-label>
                <ion-input formControlName="phone" type="tel" [(ngModel)]="customer.phone" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item *ngIf="customerForm.controls.phone.hasError('required') && (customerForm.controls.phone.dirty || submitted)">
                <p>Debe indicar un número de teléfono!</p>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>Comienzo</ion-label>
                <ion-datetime formControlName="anniversary" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="customer.anniversary"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>Nacimiento</ion-label>
                <ion-datetime formControlName="birthday" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="customer.birthday"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>Tarifa</ion-label>
                <ion-input formControlName="rate" [(ngModel)]="customer.rate" autocomplete="on" autocorrect=“on”></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>Activo</ion-label>
                <ion-toggle formControlName="active" [(ngModel)]="customer.active"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>Móvil</ion-label>
                <ion-toggle formControlName="appEnabled" [(ngModel)]="customer.appEnabled"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>Reportes</ion-label>
                <ion-toggle formControlName="reported" [(ngModel)]="customer.reported"></ion-toggle>
            </ion-item>
            <ion-item-divider color="primary">
                Horario
            </ion-item-divider>
            <ion-item *ngFor="let time of customer.timetable; let i = index" class="timetable-block">
                <ion-grid>
                    <ion-row>
                        <ion-col col-9>
                            <button ion-button small [color]="isSelected(time.days, 'L') ? 'primary' : 'light'">L</button>
                            <button ion-button small [color]="isSelected(time.days, 'M') ? 'primary' : 'light'">M</button>
                            <button ion-button small [color]="isSelected(time.days, 'X') ? 'primary' : 'light'">X</button>
                            <button ion-button small [color]="isSelected(time.days, 'J') ? 'primary' : 'light'">J</button>
                            <button ion-button small [color]="isSelected(time.days, 'V') ? 'primary' : 'light'">V</button>
                            <button ion-button small [color]="isSelected(time.days, 'S') ? 'primary' : 'light'">S</button>
                            <button ion-button small [color]="isSelected(time.days, 'D') ? 'primary' : 'light'">D</button>
                        </ion-col>
                        <ion-col col-3 class="timetable-time">
                            <ion-item small>
                                <ion-datetime disabled formControlName="hour" displayFormat="HH:mm" pickerFormat="HH:mm" min="07:00" max="23:00" [(ngModel)]="time.hour"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
