page-customer-modal {
    .timetable-block {
        padding-left: 0;
    }
    .timetable-block ion-grid {
        padding: 0;
    }
    .timetable-block ion-label {
        margin: 0;
    }
    .timetable-block button {
        margin: 0.4rem 0.1rem;
        padding: 4%;
    }
    .timetable-block button.delete-timetable {
        border-radius: 50%;
        font-weight: bold;
        padding: 8px;
    }
    .timetable-time .item {
        padding-left: 0;
    }
    .timetable-time .item-block .item-inner {
        border-bottom: none;
    }
    .timetable-time .item ion-datetime {
        font-size: 1.5rem;
        padding: 8px;
    }
}
