<ion-header>
  <ion-navbar>
    <ion-title>{{gdpr.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h4 style="text-align: center;">Lea atentamente para continuar usando la aplicación</h4>
	<br />
	<div [innerHTML]="gdpr.body"></div>
	<div>En caso contrario, pulsa en el siguiente botón para aceptar las condiciones</div>
	<br />
	<button ion-button block (click)="authorize()">ACEPTO LAS CONDICIONES</button>
	<br />
	<br />
	<br />
</ion-content>
