<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="navbar-title">
          {{viewTitle}}
        </ion-title>
        <img src="assets/imgs/logo-head.png" class="navbar-logo" width="70" />
    </ion-navbar>
    <ion-toolbar>
        <ion-buttons>
            <button ion-button [disabled]="isToday" (click)="today()">Hoy</button>
            <button ion-button (click)="changeMode('month')">Mes</button>
            <button ion-button (click)="changeMode('day')" *ngIf="hasPermission()">Día</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="has-header">
    <ion-fab right bottom #fab4 *ngIf="hasPermission()">
        <button ion-fab color="fwdss" (tap)="addEvent()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ng-template #templateMonth let-view="view" let-row="row" let-col="col">
        <div class="calendar-day {{isHoliday(view.dates[row*7+col].events)}}">
            {{view.dates[row*7+col].label}}
        </div>
    </ng-template>
    <ng-template #templateDay let-displayEvent="displayEvent">
        <div class="calendar-event-inner {{displayEvent.event.bgColor ? 'bg-custom' : ''}}" [ngStyle]="{'background-color': displayEvent.event.bgColor }">
            {{displayEvent.event.title}}
        </div>
    </ng-template>
    <ng-template #templateMonthList let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
            <ion-item *ngFor="let event of selectedDate?.events" (tap)="onEventSelected(event)">
                <ion-icon class="event-list-icon" *ngIf="!event.allDay" name="walk" item-start [ngStyle]="event.bgColor && {'background-color': event.bgColor } || {'background-color': '#3a87ad' }"></ion-icon>
                <ion-icon class="event-list-icon" *ngIf="event.allDay && event.type != 'holiday'" md="ios-flame" ios="ios-flame" android="ios-flame" item-start [ngStyle]="{'background-color': event.bgColor }"></ion-icon>
                <ion-icon class="event-list-icon" *ngIf="event.allDay && event.type == 'holiday'" md="ios-sunny" ios="ios-sunny" android="ios-sunny" item-start [ngStyle]="{'background-color': event.bgColor }"></ion-icon>
                <ion-label>
                    <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
                      {{ event.startTime|date: "HH:mm" }} - {{ event.endTime|date: 'HH:mm' }}
                    </span>
                    <span *ngIf="!event.allDay" class="event-detail">  |  </span>
                    <span class="event-detail">{{event.title}}</span>
                </ion-label>
            </ion-item>
            <ion-item *ngIf="selectedDate?.events.length==0">
                <div class="no-events-label">{{noEventsLabel}}</div>
            </ion-item>
        </ion-list>
    </ng-template>
    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [locale]="calendar.locale"
              [startingDayWeek]="1"
              [startingDayMonth]="1"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onRangeChanged)="onRangeChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              [monthviewDisplayEventTemplate]="templateMonth"
              [weekviewAllDayEventTemplate]="templateDay"
              [weekviewNormalEventTemplate]="templateDay"
              [dayviewAllDayEventTemplate]="templateDay"
              [dayviewNormalEventTemplate]="templateDay"
              [monthviewEventDetailTemplate]="templateMonthList"
              step="30"
              formatDayTitle="EEEE, dd MMMM yyyy"
              formatWeekTitle="'Semana' w, MMMM yyyy"
              formatHourColumn="H:mm"
              startHour="7"
              endHour="24"
              allDayLabel="Todo el día"
              noEventsLabel="Sin sesiones"
              queryMode="remote">
    </calendar>
</ion-content>
