page-schedule {
    .calendar-event {
        padding: 0 2px;
    }
    .calendar-event-inner {
        background-color: #3a87ad;
        color: white;
        line-height: 36px;
        font-size: calc(7px + .5vw);
    }
    .calendar-event-inner.bg-custom {
        color: white;
    }

    .monthview-selected {
        color: white !important;
        background-color: color($colors, 'secondary') !important;
    }

    td.monthview-current {
        color: white !important;
        .calendar-day {
            background-color: color($colors, 'primary') !important;
        }
    }

    .monthview-datetable {
        border: 0 !important;
        td, th {
            padding: 0px !important;
        }
    }

    .calendar-day {
        padding: 8px;
        &.has-holiday {
            background-color: color($colors, 'danger');
            color: white;
        }
    }

    .event-detail-container .item-block {
        padding-left: 0;
    }

    .event-list-icon {
        color: #FFFFFF;
        border-bottom: 0.55px solid #FFFFFF;
        margin: 0 !important;
        margin-right: 5px !important;
        min-width: 40px !important;
        padding: 8px !important;
    }
}
