<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Cambiar contraseña</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="save()">
                <ion-icon name="checkmark-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <form [formGroup]="changePasswordForm">
            <ion-item [ngClass]="{'input-error':!changePasswordForm.controls.password.valid && (changePasswordForm.controls.password.dirty || submitted)}">
                <ion-label color="primary" stacked>Contraseña</ion-label>
                <ion-input type="password" formControlName="password" [(ngModel)]="profile.password"></ion-input>
            </ion-item>
            <ion-item *ngIf="changePasswordForm.controls.password.hasError('required') && (changePasswordForm.controls.password.dirty || submitted)">
                <p>Debe indicar una contraseña!</p>
            </ion-item>
            <ion-item [ngClass]="{'input-error':!changePasswordForm.controls.password_repeat.valid && (changePasswordForm.controls.password_repeat.dirty || submitted)}">
                <ion-label color="primary" stacked>Repite Contraseña</ion-label>
                <ion-input type="password" formControlName="password_repeat" [(ngModel)]="profile.password_repeat"></ion-input>
            </ion-item>
            <ion-item *ngIf="changePasswordForm.controls.password_repeat.hasError('required') && (changePasswordForm.controls.password_repeat.dirty || submitted)">
                <p>Debe repetir la contraseña!</p>
            </ion-item>
            <ion-item *ngIf="changePasswordForm.controls.password_repeat.touched && changePasswordForm.hasError('mismatchedPasswords') && changePasswordForm.controls.password.valid">
                <p>Las contraseñas no coinciden</p>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
